body {
    background-image: url(https://github.com/m-i-k-e-s/m-i-k-e-s.github.io/blob/main/background.jpeg?raw=true);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content2 {
    height: 100px
}

img {
    border-radius: 50%;
    width: auto;
    max-height: 50%;
    
}


.container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
        "Header Header Header"
        "Content1 Content2 Content3small"
        "Content1 Content2 Content4small"
        "Content1 Content2 Content4small"
        "Footer Footer Footer";
}

.Header {
    grid-area: Header;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;

}

.Content1 {
    grid-area: Content1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;

}

.Content2 {
    grid-area: Content2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;

}

.Content3small {
    grid-area: Content3small;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.Content4small {
    grid-area: Content4small;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    font-weight: normal;
}

.Footer {
    grid-area: Footer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
}